{
    auto_https off
    admin off
}

:80 {

    # API del backend
    handle_path /api/* {
        reverse_proxy backend:5000
    }

    # Manejo de errores global
    handle_errors {
        respond "Error en Caddy" 500
    }

    # Todo lo demás va al frontend
    handle {
        reverse_proxy frontend:80
    }
}
